{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIZZARIA DELÍCIAS</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sua-chave-de-integridade">
  </head>
  <body>
    
    <!-- Header -->
    <header>
      <div class="header-content">
        <nav>
          <p class="brand-logo"><strong>{{ empresa.nome }}</strong></p>
        </nav>
        <div class="header-block">
          <div class="header-text">
            <h2>Seja bem vindo a  <strong>{{ empresa.nome }}</strong></h2>

          </div>
          <img src="{% static 'img/logo.avif' %}" alt="Logo" style="  width: 45%; height: 97%;position: absolute; margin-left: 450px; bottom: 2%;" />
        </div>
      </div>
    </header>
    {%block content%} 
        
    {%endblock%}

</body>
</html>