{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front projeto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sua-chave-de-integridade">
</head>
   
</head>
<body>
    <header class="header">
        <div class="header-texts">
            <a href="#">Início</a>
            <a href="#servicos">Serviços</a>
            <a href="#profissional">Profissionais</a>
            <button class="botao-header">Fale conosco</button>
        </div>
    
    </header>
    <div class="container" style="background-image: url('{{ empresa.imagem.url }}')"     background-repeat: no-repeat;>
    <h1 class="titulo">Bem Vindo a  {{ empresa.nome }}</h1>
    </div>
    
    <div class="QuemSomos">
        <h1>Quem somos</h1>
        <p> {{ empresa.descricao }} </p>
    </div>
    
        
    <div class="Container-Serviços">
        <div class="Titulo-Serviço" id="servicos"><h1>Serviços</h1></div>
        </div>
    <div class="Container-Serviços2">
      {% for serv in servicos %}
        <div class="Serviços">
            <img src="{{ serv.imagem.url }}" alt="" width="168" height="168">
            <h3>{{ serv.servico}}</h3>
            <p>{{ serv.descricao }}</p>
            <button>Confira</button>
        </div>
      {% endfor %}


        <div class="Container-Profissionais">
            <div class="Separação"></div>
            <div class="Titulo-Profissional" id="profissional"><h1>Profissionais</h1></div>
            </div>
        <div class="Container-Profissionais">
          {% for pro in profissionais %}
            <div class="Profissionais">
              <img src="{{ pro.imagem.url }}" width="168" height="168"/>
              <h3> {{ pro.nome }} </h3>
                  <p> {{ pro.especialidade }} </p>
                  <button>Agende Já</button>
            </div>
          {% endfor %}

    </div>
    </div>
  <footer>
    <div class="container-footer">
        <div class="Footer-Texto-Centralizado">
            <a href="#"><Span>Menu</Span></a>
            <a href="#profissionais">Profissionais</a>
            <a href="#servicos">Serviços</a>
        </div>
    <div class="Footer-Texto-Esquerda">
        <p>Redes Sociais</p>
        <div class="Redes-Sociais">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-whatsapp"></i>
        </div>
         
        
    </div>
        <div class="Footer-Texto-Direita">
            <a href="#">Termos de uso</a>
            <a href="#">Politica de Privacidade</a>
        </div>
        <div class="copyright">
            <p>&copy; 2024 Seu Site. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>